/*availableFlights.module.css*/

.mainContainer {
    width: 85%;
}

.mainFlight {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: auto;
    border-radius: 10px;
    background: #fff;
}

.title {
    font-size: 20px;
    font-weight: 530;
    letter-spacing: 0px;
    line-height: 24px;
    margin: 16px 0 12px 0;
}

.desc {
    font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.3px;
    line-height: 16px;
    margin: 16px 0 12px 0;
}

.flightCard {
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 15px;
}

.flightTime {}

.flightHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: small;
}

.flightSummary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.flightrightInfo {
    display: flex;
    gap: 40px;
}

.planeDetails {
    font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.2px;
    line-height: 20px;
    color: #70757a;
    padding-bottom: 2%;
}

.layoverFlight {
    padding-top: 1%;
    padding-bottom: 1%;
    border-bottom: 0.2px solid #70757a;
    font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.2px;
    line-height: 20px;
    color: #70757a;
}

.firstTravelTime {
    font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.2px;
    line-height: 20px;
    color: #70757a;
    padding-bottom: 2%;
}

.airlineLogo {
    width: 40px;
    height: 40px;
    margin-right: 15px;
}

.flightInfo p {
    margin: 0;
}

.airportInfo {
    color: gray;
}

.rightSection {
    display: flex;
    align-items: center;
    gap: 10px;
}

.price {
    font-size: 18px;
    font-weight: bold;
    color: green;
}

.toggleButton {
    text-transform: none;
}

.flightDetails {
    background: white;
    padding: 15px;
    border-radius: 10px;
    margin-top: 10px;
}

.selectBtn {
    border-radius: 20px;
    margin-left: 20px;
}

.flightContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 0.2px solid #70757a;
    padding-bottom: 1%;
}

.detailRow {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.iconDetails {
    font-size: 13px;
    color: #70757a;
}

.icon {
    color: #70757a;
    margin-right: 10px;
    width: 7%;
}

.layover {
    color: red;
    font-weight: bold;
    margin-bottom: 10px;
}

.alert {
    color: red;
    font-weight: bold;
}

.amenitiesList,
.aircraftList {
    list-style: none;
    padding: 0;
}

.luggage {
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-size: 14px;
}

@media (max-width: 1024px) {


}

@media (max-width: 768px) {
.mainContainer{
    width: 100%;
}
}

@media (max-width: 480px) {
    .flightCard{
        width: 100%;
    }
}