.searchContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    padding: 1%;
    gap: 10px;
  }
  
  .fieldsContainer {
    display: flex;
    align-items: center;
    background: white;
    width: 100%;
    flex-direction: row; 
    gap: 10px;
  }
  
  .textField {
    flex: 1;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
  }
  
  .mainField {
    width: 100%;
  }
  
  .swapContainer {
    background: white;
    z-index: 2;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .swapButton {
    background-color: white;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-bottom: none;
    border-top: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .airportNameContainer {
    display: flex;
    font-size: 12px;
    width: 100%;
    gap: 10px;
    justify-content: space-between;
  }
  .datePickersContainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    justify-content: center;
  }
  
  @media (max-width: 768px) {
    .datePickersContainer {
      flex-direction: column;
      align-items: center;
    }
  }
  